---
import BaseLayout from '../../BaseLayout/BaseLayout.astro';
import {PostsContainer} from './_components/Posts/PostsContainer';
import type {Post} from "./types/Post";
import type {Image} from "./types/Image";
import SEO from "../_shared/SEO.astro";
import type {MetaSEO} from "../_shared/types/MetaSEO";

const markdownPosts = await Astro.glob('../../pages/blog/posts/*.md');

const posts = markdownPosts.map((post): Post => {
  return {
    title: post.frontmatter.title as string,
    tags: post.frontmatter.tags as string[],
    image: post.frontmatter.image as Image,
    publicationDate: post.frontmatter.publicationDate as string,
    url: post.frontmatter.url ? post.frontmatter.url : post.url as string
  }
})

const meta: MetaSEO = {
  title: 'Blog',
  description: 'Contenido sobre desarrollo de software, tecnología y otros temas de interés personal',
  image: {
    url: 'author.png',
    alt: 'Mario S. Pinto Miranda'
  },
  keywords: ['blog', 'desarrollo de software', 'tecnología', 'programación'],
  url: '/blog',
}
---

<BaseLayout pageTitle="blog">
    <SEO slot="head" meta={meta}/>
    <main class="posts">
        <h1>Blog</h1>
        <PostsContainer posts={posts} client:load/>
    </main>
</BaseLayout>

<style>
    .posts {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        padding: 2rem 5rem 5rem 5rem;
    }

    h1 {
        display: none
    }

    @media screen and (min-width: var(--max-mobile-width)) {
        .posts {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
</style>

